.group_picture{
  background-image: url("./../../static/images/coverphoto.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  position: relative;
  padding: 0;
}

