.home-container{
  /* overflow: auto;  */
  width: 100%;
}

.home_background{
  /* background-image: url("./../../static/images/coverphoto.png"); */
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100vh;
  position: relative;
  padding: 0;
  
}

.logo_container{
  position: relative;

}

.liu_ais_logo{
  position: absolute;
  top: 50vh;
  left: 28vw;
  scale: 1.5;
}
