.event_background{
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 90vh;
  position: relative;
  padding: 0;
}

.event_headline{
  text-align:center;
  padding-top: 20vh;
}

#event_title{
  margin-top:5vh;
}

#image_row{
  margin-top: 10vh;
  justify-content: center;
}

.event_image{
  border-radius: 30px;
}

#calendar_icon{
  display: block;
  margin: auto;
  transform: scale(5);
  margin-top: 10vh;
}