.about_background{
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 90vh;
  position: relative;
  padding: 0;
}

.img-container{
  margin-top: 7vh ;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
}

.backgroundImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding:0;
  opacity: 0.8;
}

.about_headline{
  text-align:center;
}

#group_icon{
  transform: scale(2.5);
  margin-top: 10vh;
}

@media (min-width: 1100px) {
  #group_icon{
    transform: scale(4);
  }
}

.activeMembers_container{
  margin-top: 7vh;
}

.foundingMembers_container{
  padding-top: 7vh ;
  background-color: #E5E6EB;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center; 
  align-items: center;
}

@media (min-width: 1100px) {
  .portrait-row{
    margin-right:30px; 
  }
}

.portrait-container{
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-right:20px;
}

.member-group-title{
  margin-bottom:8vh;
}

.portrait{
  border-radius: 20%;
  height: 250px;
  width: 250px;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: 50% 10%;
  top:0;
}

.member-name{
  margin:0;
}

.member-title{
  margin:0;
}

#linkedin-portrait{
  margin: -0.5vh;
  background: #0077B5;
  color: white;
  border-radius: 10%; 
  scale: 70%;
}
