.about_background{
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 70vh;
  position: relative;
  padding: 0;
}

.about_headline{
  text-align:center;
  padding-top: 30vh;
}

.portrait_container{
  padding-top: 10vh;;
}

.portrait{
  border-radius: 20%;
  height: 250px;
  width: 250px;
  margin-bottom: 10px;
}