#img-om-oss{
    /* background-image: url("./../../static/group1.jpg"); */
  }
  
.portrait{
  border-radius: 20%;
  height: 250px;
  width: 250px;
  margin-bottom: 10px;
}

.portrait-container{
  /* margin-left: 30vh;
  margin-right: 30vh; */
}