.courses_background{
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 90vh;
  position: relative;
  padding: 0;
}

.img-container{
  margin-top: 7vh !important;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
}

.about_headline{
  text-align:center;
}

.courses_headline{
  text-align:center;
}

.content-below{
  width:100%;
}

.courses_container{
  width:100%;
}

.tableContainer{
  padding-top: 8vh;
  width: 100%;
  padding-bottom: 6vh;
  background-color: #E5E6EB;
}

.table_header{
  margin-bottom:8vh; 
}

table thead th {
  border-bottom: 1px solid darkgrey !important;
}

table tr,
table tr td {
  border-top: 1px solid darkgrey !important;
  border-bottom: 1px solid darkgrey !important;
}

.tableContainer > table {
  background-color: transparent !important;
}

table {
  background-color: grey !important;
}

#cogs-icon{
  transform: scale(4.5);
  margin-top: 10vh;
  
}

@media (max-width: 1100px) {
  #cogs-icon{
    margin-left: -10%;
  }
}

#table1 {
  background-color: #E5E6EB;
  --bs-table-bg: #E5E6EB;
}

#table2{
  background-color: white;
  --bs-table-bg: white;
}

#table3{
  background-color: #E5E6EB;
  --bs-table-bg: #E5E6EB;
}




