.app{
  height: 100%;
  position: relative;
}

.restriced-container{
  height: 80vh;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Times New Roman', Times, serif;
}

.col-12 {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
}

.first_text_container{
  background-color: #E5E6EB;
}

.second_text_container{
  background-color: white;
}

.paragraph-title{
  margin-top:-3vh;
  margin-bottom:5vh;
}

.paragraph-1, .paragraph-2{
  text-align: center;
  padding-top:10vh;
  padding-bottom:10vh;
  }

.second_text_container{
  background-color: white;
}

.line_separator{
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 5vh;
}




