
.app{
  height: 100%;
  position: relative;
}

.restriced-container{
  height: 80vh;
  background-color: white;
}

/* Using Times New Roman for headings */
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Times New Roman', Times, serif;
}

/* .content{
  background-color: white;
} */

.first_text_container{
  background-color: #E5E6EB;
}

.second_text_container{
  background-color: white;
}

.first_tex_container, .second_text_container{
  width: 90%; /* Increase width as needed */
  margin: -10vw; /* Center the container */
  padding: 0; /* Adjust padding to control text width */
  height: auto;
}

.paragraph-1, .paragraph-2{
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  }


.second_text_container{
  background-color: white;
}


/* Smaller screen
@media (max-width: 1550px) {
  .navbar_logo {
      position: absolute;
      scale: 2.5;
  }
}

/* Larger screen */
/* @media (min-width: 1550px) {
  .navbar_logo {
      position: absolute;
      scale: 1.8;
  }
}  */



